/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --button-text-color: #ff0070;
  --title-color: #ff0070;
  --main-title: #db00ff;
  --accent-text-color: #000028;
  --corner-color:#ff0070;
  --gap: 20px;
  --background-color: #000028;
  --plain-text: #F1B2CE;
  --button-border-color: rgba(255, 0, 112, 1);
  --button-border-color-hover: rgba(255, 0, 112, 0.4);
  --header-cover: url(../images/cover-image-dark.png);
  --switch: flex;
}

